.hide{
    display: none !important;
}

html{
  height: 100%;
  width: 100%;
  margin: 0;
}

html body{
  height: 100%;
  width: 100%;
  //background-color: green;
  margin: 0;
    display: flex;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color: white;
    //display: none;
}
