.hide{
    display: none !important;
}

html{
  height: 100%;
  margin: 0;
  width: 100%;
}

html body{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  //background-color: green;
  margin: 0;
  display: flex;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    //display: none;
}
