.side-nav{
    height: 100%;
    width: 20%;
    min-width: 300px;
    background-color: #ffffff;
    //padding: 1rem;
    box-sizing: border-box;
  
        .user-contain{
            height: 28%;
            width: 100%;
            //background-color: purple;
            padding: 2rem;
            box-sizing: border-box;
    
            .user-top{
                height: 50%;
                width: 100%;
                //background-color: yellow;
                overflow: hidden;
            
            .user-img{
                height: 0;
                padding-bottom: 30%;
                width: 30%;
                border-radius: 50%;
                background-color: purple;
                background-image: url(../../media/me.jpg);
                background-size: cover;
                float: left;
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .user-description{
                height: auto;
                width: 55%;
                float: right;
                display: block;
                line-height: 1.6rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                
                .name{
                    color: #f1f2f2;
                    font-size: 1rem;
                    font-weight: 600;
                }
                
                p{
                    color: #939598;
                    font-size: 0.8rem;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                }
            }
        }
        .user-bottom{
            height: auto;
            width: 100%;
            line-height: 2rem;
            margin-top: 10px;
            //background-color: antiquewhite;
            
            .user-info{
                p{
                    color: #bcbec0;
                    font-size: 0.8rem;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                }
            }
        }
    }
    
        .btn-contain{
        //background-color: red;
        height: 60%;
        display: block;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        //margin-top: 30px;
        
        .btn{
            height: 60px;
            width: 100%;
            //background-color: aqua;
            border-top: 1px #e1e1e1 solid;
            border-bottom: 1px #e1e1e1 solid;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            z-index: 1;
          
            .selected{
              height: 100%;
              width: 7px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: #f66759;
              position: absolute;
              left: 95%;
              transition: all 0.5s;
              z-index: 0;
            }
          
            .selected-animate{
              left: 100%;
            }
          
            .btn-container{
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 1;
              background-color: #ffffff;
              transition: all 0.5s;
            
              .content-contain{
                padding: 1rem 2rem;

                .icon{
                  width: 10%;
                  height: 0%;
                  padding-bottom: 10%;
                  border-radius: 50%;
                  background-color: #e1e1e1;
                  float: left;
                   position: absolute;
                  top: 50%;
                  transform: translateY(-50%);

                  }

                p{
                  color: black;
                  font-size: 0.9rem;
                  font-family: 'Open Sans', sans-serif;
                  font-weight: 400;
                  //float: left;
                  text-align: center;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  transition: all 0.5s;
                }

                /*.btn-active{
                  height: 42px;
                  width: 42px;
                  background-color: white;
                  transform: rotate(45deg) translateY(-50%);
                  position: absolute;
                  left: 94%;
                  top: 50%;
                  //visibility: hidden;
                }*/
              }
            }
        }
    }
        
        .bottom-btn-contain{
            width: 100%;
            height: 12%;
            //background-color: red;
            box-sizing: border-box;
            padding: 2rem;
            
            .bottom-btn{
                width: 47%;
                height: 50px;
                background-color: #414042;
                float: left;
                //padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                
                p{
                    color: #f1f2f2;
                    line-height: 50px;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-size: 0.8rem;
                }
            }
            
            .right{
                float: right;
            }
        }
}
