.widget-holder{
    height: 100%;
    width: 100%;
    padding: 3em;
    box-sizing: border-box;
    display: block;
    
    .widget-bg{
        //background-color: rebeccapurple;
        height: 100%;
        width: 100%;
        border-radius: 1em;
        border: #e6e7e8 dashed 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3em;
        box-sizing: border-box;
        position: relative;
        
        .widget{
            width: 30%;
            height: 500px;
            margin-right: 5%;
            margin-bottom: 4em;
            background-color: red;
            border-radius: 3px;
            //height: 0;
            &:nth-child(3n+3){
                background-color: aqua;
                margin-right: 0;
            }
        }
        
        .widget-btn{
                width: 15%;
                height: 50px;
                background-color: #d1d3d4;
                float: left;
                box-sizing: border-box;
                border-radius: 5px;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            
            p{
                color: #f1f2f2;
                line-height: 50px;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 0.8em;
            }
        }
    }
}
