<div class="module log-breakfast">
  <div class="unexpanded-widget slider-widget">
    <span class="title">Data bar Template</span><br>
    <span class="sub-text">2100 calories left in your budget.</span>
    <div class="graphic-container">
      <div class="bar-graphic">
        <div class="data"></div>
      </div>
      <span class="bar-graphic-text-left">200K Cal</span>
      <span class="bar-graphic-text-right">2000K Cal</span>
    </div>

    <div class="bottom-bar">
      <div class="icon"></div>
      <div class="status">
        <div class="dot"></div>
        <span class="text">logged</span>
      </div>
    </div>
  </div>
</div>