<div class="module log-breakfast">
  <div class="unexpanded-widget slider-widget">
    <span class="title">{{ title }}</span><br>
    <span class="sub-text">{{ subtext }}</span>
    <div class="graphic-container">
      <div class="bar-graphic">
        <div class="data"></div>
      </div>
      <span class="bar-graphic-text-left">{{ barTextLeft }}</span>
      <span class="bar-graphic-text-right">{{ barTextRight }}</span>
    </div>

    <div class="bottom-bar">
      <div class="icon"></div>
      <div class="status">
        <div class="dot"></div>
        <span class="text">logged</span>
      </div>
    </div>
  </div>
</div>