<div class="module log-breakfast">
  <div class="unexpanded-widget slider-widget">
    <span class="title">{{ title }}</span><br>
    <span class="sub-text">{{ subtext }}</span>
    <div class="graphic-container">
      <span class="first-line-data">{{ firstLine }}</span><br>
      <span class="second-line-data">{{ secondLine }}</span>
    </div>

    <div class="bottom-bar">
      <div class="icon"></div>
      <div class="status">
        <div class="dot"></div>
        <span class="text">logged</span>
      </div>
    </div>
  </div>
</div>