$main-text-color: #3f3f3f;
$secondary-text-color: #a8a8a8;

p{
  color: $main-text-color;
}

h1{
  color: $main-text-color;
}

.hide{
    display: none !important;
}

html{
  height: 100%;
  margin: 0;
  width: 100%;
}

html body{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  //background-color: green;
  margin: 0;
  display: flex;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    z-index: 0;
}
