.plan-screen
  height: 100%
  width: 100%
  display: flex
  flex-direction: column

  .timeline-holder
    width: 100%
    height: 100%
    overflow-y: scroll
    overflow-x: hidden
    position: relative

    .date
      width: 25%
      height: 10%
      box-sizing: border-box
      display: flex
      align-items: center
      justify-content: center
      margin-top: 50px
      
      h1
        display: inline-block
        font-size: 2.5rem
        font-weight: 600
        margin-right: 5px
      
      p
        display: inline-block
        font-size: 2.5rem
        font-weight: 100

    .modules-holder
      width: 100%
      padding-left: 13%
      float: left
      position: relative

      .line
        width: 1px
        background-color: #c2c2c2
        height: 100%
        position: absolute
        
      .time-row
        width: 95%
        height: auto
        position: relative
        padding-left: 80px
        &:after
          content: ""
          display: table
          clear: both

        .time-container
          height: auto
          width: auto
          //background-color: aquamarine
          
          .time
            position: absolute
            top: 2%
            left: -100px
            transform: translateY(-50%)
            color: $red
            font-size: 1.8rem
            font-weight: 400
            font-style: italic

          .node
            height: 25px
            width: 25px
            background-color: $red
            border-radius: 50%
            border: 6px solid #ededed
            position: absolute
            left: 67.5px
            top: 0%
            transform: translateY(-50%)
            &:after
              content: ""
              display: block
              background: $red
              height: 15px
              width: 15px
              border-radius: 50%
              position: absolute
              top: 4px
              left: -86px
              border: 6px solid #ededed

        .top
          margin-top: 50px
        .module-background
          height: 100%
          width: 100%
          background: #dcdcdc
          display: block
          box-sizing: border-box
          padding: 2% 2% 0 2%
          border-radius: 8px
          .module
            height: 187px
            width: 275px
            background-color: #eeecee
            border: solid 1px #c9c9c9
            border-radius: 8px
            padding: 20px
            margin-right: 10px
            margin-bottom: 2%
            //float: left
            display: inline-block
            cursor: pointer
            transition: all 2s
            background-image: url('../../media/medicationBg.jpg')
            background-size: contain
            &:nth-child(4n+4)
              margin-right: 0px

            .unexpanded-widget
              height: 100%
              width: 100%

              .title
                color: #444444
                font-size: 1.4rem
                font-weight: 500
                margin-bottom: 10px

              .sub-text
                color: #757575
                font-size: 0.8rem
                font-weight: 500

              .graphic-container
                width: 100%
                margin-top: 50px
                .graphic
                  height: 10px
                  width: 100%
                  background-color: #9f9f9f
                  border-radius: 10px
                  margin-bottom: 20px

          .expanded-widget
            height: 100%
            width: 100%
            display: flex
            flex-direction: column

            .cancel
              color: #4d4d4d
              font-weight: 100
              font-size: 0.8rem
              cursor: pointer
              display: block
              width: 30px

            .nav
              width: 100%
              height: auto
              margin-top: 20px

              img
                height: 34px
                width: 34px
                display: inline-block
                cursor: pointer
                opacity: 0.8
                &:hover
                  opacity: 1

              .something
                height: 34px
                width: 34px
                background-color: #9f9f9f
                border-radius: 50%
                display: inline-block
                cursor: pointer
                opacity: 0.8
                position: relative
                left: 35%
                &:hover
                  opacity: 1

              .recipie
                float: right

              .searchbox
                height: 30px
                width: 100%
                background-color: white
                border-radius: 15px
                margin: 30px 0px 50px 0px
                visibility: visible
                cursor: pointer

            .list
              height: 70%
              width: 100%
              overflow-y: scroll
              white-space: nowrap

              .food
                width: 100%
                height: auto
                position: relative
                border-bottom: solid 1px #bfbfbf
                padding: 20px 0px

                img
                  height: 34px
                  width: 34px
                  display: inline-block
                  cursor: pointer

                p
                  color: #4d4d4d
                  font-weight: 100
                  font-size: 0.8rem

                .name
                  display: inline-block
                  line-height: -34px
                  position: absolute
                  top: 50%
                  transform: translateY(-50%)

                .serving
                  display: inline-block
                  line-height: -34px
                  position: absolute
                  top: 50%
                  left: 100%
                  transform: translate(-100%, -50%)
