.regimen-overview
  margin: 2% 5%
  h1
    font-size: 2.8rem
    margin-bottom: 30px
    margin-top: 50px
  .overview-container
    display: flex
    overflow: hidden
    border-radius: 10px

.widget-overview
  background: $white
  width: 245px
  height: 250px
  //max-width: (100% / 6)
  text-align: center
  padding: 0 20px 20px
  border: 1px solid #dcdcdc
  //border-radius: 10px
  overflow: hidden
  img
    margin-bottom: 10px
    //width: 70%
    height: 89px
    margin: 0 auto
    position: relative
    top: -35px
    margin-bottom: -10px
  .name
    font-size: 2.0rem
  .status
    color: #949494
    font-size: 1.3rem
    margin: 10px 0
    font-style: italic
  .progress-cta
    border: 1px solid $gray
    border-radius: 20px
  .progress
    background: $yellow
    border-radius: 20px
    color: $white
    font-size: 1.6rem
    line-height: 2.2rem
    padding: 0 12px
    text-align: right
  .data-cta
    clear: both
    margin: 15px 0
  .data-left
    float: left
  .data-right
    float: right

  .value
    color: $red
    display: block
    font-size: 2.0rem
    font-weight: bold
    text-align: center
    margin-bottom: 8px

  .unit
    color: black
    font-size: 1.5rem
    font-weight: bold
    display: block
    text-align: center
    margin-bottom: 3px

  .average
    color: $grey
    display: block
    text-align: center
    font-size: 1.2rem