.side-nav
  height: 100%
  width: 20%
  //min-width: 300px
  background-color: #ffffff
  //padding: 1rem
  box-sizing: border-box
  box-shadow: 3px 0px 3px rgba(136, 136, 136, 0.16)
  position: absolute
  z-index: 2

  .user-contain
    //height: 35%
    width: 100%
    //background-color: purple
    padding: 4%
    box-sizing: border-box
    margin-bottom: 30px

    .user-top
      height: 180px
      width: 100%
      margin-top: 30px

      .user-img
        height: 100px
        width: 100px
        border-radius: 50%
        background-color: purple
        background-image: url(../../media/me.jpg)
        background-size: cover
        display: block
        margin: 0 auto

      .user-description
        height: auto
        width: 100%
        display: block
        line-height: 1.6rem
        margin-bottom: 20px

        .name
          //color: #f1f2f2
          font-size: 1.8rem
          font-weight: 600
          text-align: center


        .title
          //color: #939598
          font-size: 1.3rem
          font-weight: 300
          text-align: center
          margin-bottom: 5px




    .user-bottom
      width: 100%
      height: 20%
      display: flex
      flex-wrap: wrap

      .btn
        width: 30%
        flex-grow: 1
        min-width: 25%

        .icon
          width: 26px
          height: 26px
          background-color: #e4e4e4
          border-radius: 50%
          margin: 0 auto
          display: block
          margin-bottom: 10px


        p
          text-align: center
          font-size: 1.3rem
          text-transform: uppercase
          font-weight: 300





  .btn-contain
    //background-color: red
    height: 61%
    display: block
    display: flex
    flex-direction: column
    box-sizing: border-box
    //padding: 0 6%
    //margin-top: 30px

    .btn
      height: 15%
      width: 80%
      //background-color: aqua
      border-top: 1px #e1e1e1 solid
      border-left: 1px #e1e1e1 solid
      border-right: 1px #e1e1e1 solid
      box-sizing: border-box
      position: relative
      cursor: pointer
      z-index: 0
      margin: 0 auto
      position: relative
      &:nth-last-child(1)
        border-bottom: 1px #e1e1e1 solid
      
      .btn-container
        position: absolute
        height: 100%
        width: 100%
        z-index: 1
        background-color: #ffffff
        transition: all 0.5s
        &:hover
          background-color: rgb(244, 244, 244)
        
        .content-contain
          //padding: 1rem 2rem

          .icon
            width: 30px
            height: 30px
            //border-radius: 50%
            background-color: #e1e1e1
            position: absolute
            top: 50%
            right: 5%
            transform: translate(-50%, -50%)
            
          p
            font-size: 1.65rem
            font-weight: 400
            position: absolute
            top: 50%
            left: 5%
            transform: translateY(-50%)
            transition: all 1s
            
    .patient-directory
      height: 600px
      width: 100%
      border: 0px #e1e1e1 solid
      box-shadow: 0px 0px 10px rgba(136, 136, 136, 1)
      z-index: 1
      &:after
        content: ""
        display: block
        width: 10px
        height: 100%
        background: $red
        position: absolute
        z-index: 2
      
      .btn-container
        
        .content-contain
          
          .icon
            top: 10%
            right: 14%
          p
            top: 10%
            left: 14%
            color: $red
      
      
            
        .name-contain
          width: 100px
          height: auto
          margin-top: 23%
          padding: 0px 14%
          .title
            font-size: 1.2rem
            color: $text-color-secondary
          .name
            font-size: 1.35rem
            color: $text-color-main
            
        .age-weight-height-contain
          width: 100%
          height: 20%
          background: red
          .weight-contain
            height: 100%
            width: 20%
            background: purple
          .height-contain
            height: 100%
            width: auto
            background: #004eff
          
        .allergies-contain
          width: 100%
          height: 20%
          background: green
          
        .medication-contain
          width: 100%
          height: 20%
          background: yellow
          
  .logo-holder
    height: 5%
    width: 100%
    //background: red
    position: absolute
    bottom: 0%
    
    .logo
      height: 100%
      width: 40%
      //background: green
      margin: 0 auto
      background-image: url('../../media/logo.png')
      background-position: center
      background-repeat: no-repeat
      background-size: contain





