
// Colors
$charcoal: #424242
$cream: #fffffa
$blue: #1fb6be
$blue-dark: #1fa5ad
$gray: #e2eaed
$gray-dark: #cdd4d7
$red: #fc7575
$red-dark: #dc6a6b
$yellow: #fdd074
$yellow-dark: #e3bd6a
$white: #ffffff
$green: #b3d472


$text-color-main: #3f3f3f
$text-color-secondary: #a8a8a8

$transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1)

$top-bar-height: 88px

// Fonts
@font-face
  font-family: 'Gotham'
  src: url('fonts/GothamRnd-Light.otf') format('opentype')

$font-family: 'Gotham', 'Open Sans', sans-serif

// vendor
@import vendor/compass-mixins/lib/compass
@import vendor/reset

// mendo
@import main
@import widgetHolder
@import no-regimen
@import sidebar/sidebar
@import sidebar/sidebar-animation
@import top-bar
@import plan-screen
@import control-panel
@import icons
