<div class="food-journal-container">
  <div class="top-bar-journal">
    <span class="title">Today’s Calories & Carbs</span>
    <div class="key">
      <div class="healthy">
        <div class="icon"></div>
        <span class="title">Healthy</span>
      </div>
      <div class="warning">
        <div class="icon"></div>
        <span class="title">Too Low, warning</span>
      </div>
      <div class="dangerous">
        <div class="icon"></div>
        <span class="title">too High, dangerous!</span>
      </div>
    </div>
  </div>
  <div class="scrollable">
    <div class="today-container">
      <div class="center-data-container">
        <div class="data-left">
          <span class="data">0</span><br>
          <span class="sub-text">Calories Eaten</span>
        </div>
        <div class="data-center">
          <svg class="graph" style="z-index: 0;">
            <circle class="circleBg" r="150" cx="150" cy="150"></circle>
            <circle class="circle" r="150" cx="150" cy="150"></circle>
          </svg>
          <div class="data-contain">
            <span class="data">0</span><br>
            <span class="sub-text">Calories Left</span>
          </div>
        </div>
        <div class="data-right">
          <span class="data">2000</span><br>
          <span class="sub-text">Your Calorie Goal</span>
        </div>
      </div>
      <div class="today-summary-container">
        <div class="breakfast-container">
          <div class="summary-top-bar">
            <p class="calories">200 <span class="unit">kcal</span></p>
            <p class="title">Breakfast</p>
            <p class="sub-text">Greek Honey Yogurt with Granola</p>
          </div>
          <div class="graphic-container">
            <div class="bar-graphic">
              <div class="data"></div>
            </div>
            <span class="bar-graphic-text-left">30g</span>
            <span class="bar-graphic-text-right">60g Carbs</span>
          </div>
        </div>
        <div class="lunch-container">
          <div class="summary-top-bar">
            <p class="calories">456 <span class="unit">kcal</span></p>
            <p class="title">Lunch</p>
            <p class="sub-text">Roasted Vegetable & Chickpea
  Salad</p>
          </div>
          <div class="graphic-container">
            <div class="bar-graphic">
              <div class="data"></div>
            </div>
            <span class="bar-graphic-text-left">58g</span>
            <span class="bar-graphic-text-right">60g Carbs</span>
          </div>
        </div>
        <div class="afternoon-snack-container">
          <div class="summary-top-bar">
            <p class="calories">344 <span class="unit">kcal</span></p>
            <p class="title">Afternoon Snack</p>
            <p class="sub-text">Lightly Salted Kale Chips</p>
          </div>
          <div class="graphic-container">
            <div class="bar-graphic">
              <div class="data"></div>
            </div>
            <span class="bar-graphic-text-left">20g</span>
            <span class="bar-graphic-text-right">20g Carbs</span>
          </div>
        </div>
        <div class="dinner-container">
          <div class="summary-top-bar">
            <p class="calories">0 <span class="unit">kcal</span></p>
            <p class="title">Dinner</p>
            <p class="sub-text">Meal has not been logged</p>
          </div>
          <div class="graphic-container">
            <div class="bar-graphic">
              <div class="data"></div>
            </div>
            <span class="bar-graphic-text-left">0g</span>
            <span class="bar-graphic-text-right">60g Carbs</span>
          </div>
        </div>
      </div>
    </div>
    <div class="weekly-container">
      <div class="calories-container">
        <div class="graph-lines-container">
          <div class="main-vert-line"></div>
          <div class="main-horz-line"></div>
          <div class="horz-line-contain">
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
            <div class="horz-num-lines"></div>
          </div>
        </div>
      </div>
      <div class="carbs-container"></div>
    </div>
    <div class="monthly-container">
      <div class="calories-container"></div>
      <div class="carbs-container"></div>
    </div>
  </div>
  <div class="bottom-bar-journal">
    <div class="scroll-down-btn">
      <span class="scroll-text">Scroll to view <span class="section">Blah</span></span>
      <div class="arrow"></div>
    </div>
  </div>
</div>
