<div class="plan-screen">
  <div class="timeline-holder">
    <div class="date">
      <h1>Today</h1>
      <p>May 2, 2015</p>
    </div>

    <div class="modules-holder">
      <div class="line"></div>
      <div class="time-row">
        <div class="time-container top">
          <p class="time">12:30pm</p>
          <div class="node"></div>
          <div class="line"></div>
        </div>
        <div class="module-background">
          <!-- Each module goes here -->
        </div>
      </div>
    </div>
  </div>
</div>