<div class="plan-screen">
  <div class="timeline-holder">
    <div class="date">
      <h1>Today</h1>
      <p>April 02, 2015</p>
    </div>

    <div class="modules-holder">
      <div class="line"></div>

      <div class="time-row">
        <div class="time-container top">
          <p class="time">12:30pm</p>
          <div class="node"></div>
        </div>
        <div class="module-background">
          <div class="module log-breakfast">
            <div class="unexpanded-widget slider-widget">
              <span class="title">Data bar Template</span><br>
              <span class="sub-text">2100 calories left in your budget.</span>
              <div class="graphic-container">
                <div class="bar-graphic">
                  <div class="data"></div>
                </div>
                <span class="bar-graphic-text-left">200K Cal</span>
                <span class="bar-graphic-text-right">2000K Cal</span>
              </div>
              
              <div class="bottom-bar">
                <div class="icon"></div>
                <div class="status">
                  <div class="dot"></div>
                  <span class="text">logged</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="module log-breakfast">
            <div class="unexpanded-widget slider-widget">
              <span class="title">Single data Template</span><br>
              <span class="sub-text">2100 calories left in your budget.</span>
              <div class="graphic-container">
                <span class="first-line-data">200</span><br>
                <span class="second-line-data">mg/DL</span>
              </div>
              
              <div class="bottom-bar">
                <div class="icon"></div>
                <div class="status">
                  <div class="dot"></div>
                  <span class="text">logged</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="module log-breakfast">
            <div class="unexpanded-widget slider-widget">
              <span class="title">Single data Template</span><br>
              <span class="sub-text">2100 calories left in your budget.</span>
              <div class="graphic-container">
                <span class="first-line-data">200</span><br>
                <span class="second-line-data">mg/DL</span>
              </div>
              
              <div class="bottom-bar">
                <div class="icon"></div>
                <div class="status">
                  <div class="dot"></div>
                  <span class="text">logged</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="module log-breakfast">
            <div class="unexpanded-widget slider-widget">
              <span class="title">Single data Template</span><br>
              <span class="sub-text">2100 calories left in your budget.</span>
              <div class="graphic-container">
                <span class="first-line-data">200</span><br>
                <span class="second-line-data">mg/DL</span>
              </div>
              
              <div class="bottom-bar">
                <div class="icon"></div>
                <div class="status">
                  <div class="dot"></div>
                  <span class="text">logged</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--<div class="expanded-widget hide">
              <p class="cancel">Cancel</p>

              <div class="nav">
                <img class="search" src="media/searchIcon-01.svg"/>
                <div class="something"></div>
                <img class="recipie" src="media/recipieIcon-01.svg"/>
                <div class="searchbox"></div>
              </div>

              <div class="list hide">
                <div class="food">
                  <img class="btn" src="media/addIcon.svg"/>
                  <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                  <p class="serving">1 serving</p>
                </div>

                <div class="food">
                  <img class="btn" src="media/addIcon.svg"/>
                  <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                  <p class="serving">1 serving</p>
                </div>

                <div class="food">
                  <img class="btn" src="media/addIcon.svg"/>
                  <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                  <p class="serving">1 serving</p>
                </div>

                <div class="food">
                  <img class="btn" src="media/addIcon.svg"/>
                  <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                  <p class="serving">1 serving</p>
                </div>

                <div class="food">
                  <img class="btn" src="media/addIcon.svg"/>
                  <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                  <p class="serving">1 serving</p>
                </div>
              </div>-->
          
        </div>
      </div>
    </div>
  </div>
</div>
