<div class="plan-screen">
  <div class="timeline-holder">
    <div class="date">
      <h1>Today</h1>
      <p>April 02, 2015</p>
    </div>

    <div class="modules-holder">
      <div class="line"></div>

      <div class="time-row">
        <div class="time-container top">
          <p class="time">12:30pm</p>
          <div class="node"></div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="time-row">
        <div class="time-container top">
          <p class="time">12:30pm</p>
          <div class="node"></div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div class="time-row">
        <div class="time-container top">
          <p class="time">12:30pm</p>
          <div class="node"></div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

        <div class="module">
          <div class="unexpanded-widget">
            <h1>Log your Breakfast </h1>
            <p>2100 calories left in your budget.</p>

            <div class="graphic-container">
              <div class="graphic"></div>
              <p>0 Calories</p>
            </div>
          </div>
          <div class="expanded-widget hide">
            <p class="cancel">Cancel</p>

            <div class="nav">
              <img class="search" src="media/searchIcon-01.svg"/>
              <div class="something"></div>
              <img class="recipie" src="media/recipieIcon-01.svg"/>
              <div class="searchbox"></div>
            </div>

            <div class="list hide">
              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>

              <div class="food">
                <img class="btn" src="media/addIcon.svg"/>
                <p class="name">The Greek Gods Greek Yogurt, Honey</p>
                <p class="serving">1 serving</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
