<div class="plan-screen">
  <div class="timeline-holder">
    <div class="date">
      <h1>Today</h1>
      <p>May 2, 2015</p>
    </div>
    <div class="modules-holder">
    <!-- Module sare populated -->
    </div>
  </div>
</div>