<div class="user-contain">
  <div class="user-top">
    <div class="user-description">
      <p class="title">Primary Physician</p>
      <p class="name">Dr. Julia Vitale</p>
    </div>

    <div class="user-img"></div>
  </div>
  <div class="user-bottom">
    <div class="btn">
      <div class="icon"></div>
      <p>Alerts</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Messages</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Chat</p>
    </div>
  </div>
</div>

<div class="btn-contain">
  <div class="btn appointment">
    <div class="btn-container">
      <div class="content-contain">
        <p>Appointments</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="btn patient-directory">
    <div class="btn-container">
      <div class="content-contain">
        <p>Patient Directory</p>
        <div class="icon"></div>
      </div>
      <div class="name-contain">
        <span class="title">Patient</span><br>
        <span class="name">Robert Keller</span>
      </div>
      <div class="age-weight-height-contain">
        <div class="age-contain">
        </div>
        <div class="weight-contain">
        </div>
        <div class="height-contain">
        </div>
      </div>
      <div class="allergies-contain">
      
      </div>
      <div class="medication-contain">
      
      </div>
    </div>
  </div>
  <div class="btn widget-directory">
    <div class="btn-container">
      <div class="content-contain">
        <p>Widget Directory</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="btn settings">
    <div class="btn-container">
      <div class="content-contain">
        <p>Settings</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
</div>

<div class="logo-holder">
  <div class="logo"></div>
</div>
