<div class="user-contain">
  <div class="user-top">
    <div class="user-description">
      <p class="title">My Patient Profile</p>
      <p class="name">Robert Keller</p>
    </div>

    <img src="/media/robertKeller.jpg" class="user-img" />
  </div>
  <div class="user-bottom">
    <div class="btn">
      <i class="icon alert"></i>
      <p>Alerts</p>
    </div>

    <div class="btn">
      <i class="icon message"></i>
      <p>Messages</p>
    </div>

    <div class="btn">
      <i class="icon chat"></i>
      <p>Chat</p>
    </div>
  </div>
</div>

<div class="btn-contain">
  <div class="btn appointment">
    <div class="btn-container">
      <div class="content-contain">
        <p>Appointments</p>
        <i class="icon appointments"></i>
      </div>
    </div>
  </div>
  <div class="btn regimen-plan">
    <div class="btn-container">
      <div class="content-contain">
        <p>Regimen Plan</p>
        <i class="icon regimen-plan"></i>
      </div>
    </div>
  </div>
  <div class="btn personal-profile">
    <div class="btn-container">
      <div class="content-contain">
        <p>Personal Profile</p>
        <i class="icon personal-profile"></i>
      </div>
    </div>
  </div>
  <div class="btn medical-history">
    <div class="btn-container">
      <div class="content-contain">
        <p>Medical History</p>
        <i class="icon medical-history"></i>
      </div>
    </div>
  </div>
  <div class="btn find-a-doctor">
    <div class="btn-container">
      <div class="content-contain">
        <p>Find A Doctor</p>
        <i class="icon find-a-doctor"></i>
      </div>
    </div>
  </div>
  <div class="btn settings">
    <div class="btn-container">
      <div class="content-contain">
        <p>Settings</p>
        <i class="icon settings"></i>
      </div>
    </div>
  </div>
</div>

<div class="logo-holder">
  <div class="logo"></div>
</div>
