<div class="user-contain">
  <div class="user-top">
    <div class="user-description">
      <p class="title">Primary Physician</p>
      <p class="name">Dr. Julia Vitale</p>
    </div>

    <div class="user-img"></div>
  </div>
  <div class="user-bottom">
    <div class="btn">
      <div class="icon"></div>
      <p>Alerts</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Messages</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Chat</p>
    </div>
  </div>
</div>

<div class="btn-contain">
  <div class="btn regimen">
    <div class="btn-container">
      <div class="content-contain">
        <p>Regimen Plan</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
</div>
