<div class="user-contain">
  <div class="user-top">
    <div class="user-description">
      <p class="title">Primary Physician</p>
      <p class="name">Dr. Julia Vitale</p>
    </div>

    <img src="/media/me.jpg" class="user-img" />
  </div>
  <div class="user-bottom">
    <div class="btn">
      <i class="icon"></i>
      <p>Alerts</p>
    </div>

    <div class="btn">
      <i class="icon"></i>
      <p>Messages</p>
    </div>

    <div class="btn">
      <i class="icon"></i>
      <p>Chat</p>
    </div>
  </div>
</div>

<nav class="nav-contain">
  <div class="nav-item regimen">
    <span class="nav-name">Regimen Plan</span>
    <i class="icon"></i>
  </div>
</nav>
