<div class="user-contain">
  <div class="user-top">
    <div class="user-description">
      <p class="title">Primary Physician</p>
      <p class="name">Dr. Julia Vitale</p>
    </div>

    <div class="user-img"></div>
  </div>
  <div class="user-bottom">
    <div class="btn">
      <div class="icon"></div>
      <p>Alerts</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Messages</p>
    </div>

    <div class="btn">
      <div class="icon"></div>
      <p>Chat</p>
    </div>
  </div>
</div>

<div class="btn-contain">
  <div class="btn appointment">
    <div class="btn-container">
      <div class="content-contain">
        <p>Appointments</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="btn patient-directory">
    <div class="btn-container">
      <div class="content-contain">
        <p>Patient Directory</p>
        <div class="icon"></div>
      </div>
      <div class="name-contain">
        <div class="title">Patient</div>
        <div class="name">Robert Keller</div>
      </div>
      <div class="age-weight-height-contain">
        <div class="age-contain">
          <div class="num">42</div>
          <div class="title">Age</div>
        </div>
        <div class="weight-contain">
          <div class="num">250lbs</div>
          <div class="title">Weight</div>
        </div>
        <div class="height-contain">
          <div class="num">6ft</div>
          <div class="title">Height</div>
        </div>
      </div>
      <div class="allergies-contain">
        <div class="title">Allergies</div>
        <div class="allergies-row">
          <div class="title">Penicillin</div>
          <div class="graph-contain">
            <div class="title">SEVERE</div>
            <div class="data-contain">
              <div class="data penicillin"></div>
            </div>
          </div>
        </div>
        <div class="allergies-row">
          <div class="title">Pollen</div>
          <div class="graph-contain">
            <div class="title">MODERATE</div>
            <div class="data-contain">
              <div class="data pollen"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="medication-contain">
        <div class="title">Medications</div>
        <div class="medication-row">
          <div class="title">Clarinex A...</div>
          <div class="date">SINCE Mar 30, 2015</div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn widget-directory">
    <div class="btn-container">
      <div class="content-contain">
        <p>Widget Directory</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="btn settings">
    <div class="btn-container">
      <div class="content-contain">
        <p>Settings</p>
        <div class="icon"></div>
      </div>
    </div>
  </div>
</div>

<div class="logo-holder">
  <div class="logo"></div>
</div>
