<div class="content-left">
  <div class="user">
    <img src="/media/robertKeller.jpg" class="picture">
    <div class="info">
      <span class="title">Patient</span>
      <span class="name">Robert Keller</span>
    </div>
  </div>
</div>
<div class="content-middle">
  <div class="widget-button-contain">

  </div>
</div>
<div class="content-right">
  <span class="widget-count">6 widgets</span>
  <span class="button">Add New Widget</span>
</div>
