<div class="user">
  <div class="picture"></div>
  <div class="content-left">
    <span class="patient">Patient</span>
    <span class="name">Robert Keller</span>
  </div>
</div>
<div class="widget-button-contain">
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Food Journal</span>
      </div>
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Blood Pressure</span>
      </div>
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Blood Glucose</span>
      </div>
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Fitness Planner</span>
      </div>
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Sleep Analysis</span>
      </div>
      <div class="widget-button">
        <div class="icon"></div>
        <span class="title">Medication</span>
      </div>
    </div>
<div class="content-right">
  <span class="widget-count">X widgets</span>
  <div class="widget-btn"><span>View Regimen Plan</span></div>
</div>
