<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="widget-scroll">
    <div class="lightbox">
      <div class="lightbox-bg"></div>
      <div class="lightbox-content">
        <div class="top-nav">
          <div class="title-contain">
            <span class="widget-title">Food Journal</span><br>
            <span class="title">Prefrences</span>
          </div>
          <div class="close"></div>
        </div>
        <div class="content-window">
          <div class="content goal-container">
            <span class="title">What is your goal?</span>
            <div class="button-contain">
              <div class="be-healthy-btn" data-question="goal" data-answer="beHealthy">
                <span class="btn-title">Be Healthy</span>
              </div>
              <div class="lose-weight-btn" data-question="goal" data-answer="loseWeight">
                <span class="btn-title">Lose Weight</span>
              </div>
              <div class="gain-weight-btn" data-question="goal" data-answer="gainWeight">
                <span class="btn-title">Gain Weight</span>
              </div>
            </div>
          </div>
          <div class="content weight-measure-container">
            <span class="title">How do you want to measure your weight?</span>
            <div class="button-contain">
              <div class="pounds-btn" data-question="units" data-answer="lbs">
                <span class="btn-title">Pounds</span>
              </div>
              <div class="kilograms-btn" data-question="units" data-answer="kgs">
                <span class="btn-title">Kilograms</span>
              </div>
            </div>
          </div>
          <div class="content weight-lose-container">
            <span class="title">How much weight do you want to lose?</span>
            <div class="radial-slider-holder">
              <input type="text" value="0" class="dial" id="weightChangeSlider" data-question="weightChange" data-min="0" data-max="250" data-linecap="round" data-angleOffset="-150" data-angleArc="300" data-fgColor="#fc7575" data-thickness=".1" data-height="300" data-width="300"/>
            </div>
            <p class="bottom-text">Current weight: <span class="current-weight-num">{{ weight }}</span><span class="unit-of-measure">lbs/kilo</span></p><br>
            <p class="bottom-text">Weight goal: <span id="new-weight-goal" class="weight-goal-num">xx</span><span class="unit-of-measure">lbs/kilo</span></p>
            <input type="submit" value="Accept" data-question="weightChange" data-accept-value="weightChange" />
          </div>
          <div class="content weight-lose-week-container">
            <span class="title">How much weight do you want to lose a week?</span>
            <div class="radial-slider-holder">
              <input type="text" value="0" class="dial" id="weightPerWeekSlider" data-question="weightPerWeek" data-min="0" data-max="250" data-linecap="round" data-angleOffset="-150" data-angleArc="300" data-fgColor="#fc7575" data-thickness=".1" data-height="300" data-width="300"/>
            </div>
            <p class="bottom-text">You’ll reach your goal of <span class="weight-goal-num">xx</span><span class="unit-of-measure">lbs/kilo</span> in about <span id="num-weeks">XX</span> weeks.</p><br>
            <p class="bottom-text">Your daily caloric goal is <span class="calories-num">xxxx</span> calories.</p>
            <input type="submit" value="Accept" data-question="weightPerWeek" data-accept-value="weightPerWeek" />
          </div>
          <div class="content meal-plan-container">
            <span class="title">Select our recommended meal plan for you.</span>
            <div class="button-contain">
              <div class="diabetic-meal-btn" data-question="recommendedMealPlan" data-answer="diabetic">
                <span class="btn-title">Diabetic</span>
              </div>
              <div class="gluten-meal-btn" data-question="recommendedMealPlan" data-answer="gluten-free">
                <span class="btn-title">Gluten Free</span>
              </div>
              <div class="heart-healthy-meal-btn" data-question="recommendedMealPlan" data-answer="heart-healthy">
                <span class="btn-title">Heart Healthy</span>
              </div>
            </div>
          </div>
          <div class="content finish-container">
            <span class="title">Start tracking now!</span>
            <div class="finish-image"></div>
            <p class="bottom-text">You can always go back to the Food Journal</p><br>
            <p class="bottom-text">widget preferences to adjust your goal.</p>
          </div>
        </div>
        <div class="btn-back">
          <div class="arrow-back"></div>
          <span class="btn-text">back</span>
        </div>
        <div class="btn-next">
          <span class="btn-text">next</span>
          <div class="arrow-next"></div>
        </div>
      </div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
