<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="widget-scroll">
    <div class="expand">
      <div class="background-black"></div>
      <div class="background-white">
        <div class="top-nav">
          <div class="title-contain">
            <span class="widget-title">Food Journal</span><br>
            <span class="title">Prefrences</span>
          </div>
          <div class="close"></div>
        </div>
        <div class="content-contain"></div>
        <div class="bottom-nav"></div>
      </div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
