<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="widget-scroll">
    <div class="lightbox">
      <div class="lightbox-bg"></div>
      <div class="lightbox-content">
        <div class="top-nav">
          <div class="title-contain">
            <span class="widget-title">Food Journal</span><br>
            <span class="title">Prefrences</span>
          </div>
          <div class="close"></div>
        </div>
        <div class="content-window">
          <div class="content goal-container">
            <span class="title">What is your goal?</span>
            <div class="button-contain">
              <div class="be-healthy-btn">
                <span class="title">Be Healthy</span>
              </div>
              <div class="lose-weight-btn">
                <span class="title">Lose Weight</span>
              </div>
              <div class="gain-weight-btn">
                <span class="title">Gain Weight</span>
              </div>
            </div>
          </div>
          <div class="content weight-measure-container">
            <span class="title">How do you want to measure your weight?</span>
            <div class="button-contain">
              <div class="be-healthy-btn">
                <span class="title">Pounds</span>
              </div>
              <div class="lose-weight-btn">
                <span class="title">Kilograms</span>
              </div>
            </div>
          </div>
          <div class="content weight-lose-container">
            <span class="title">How much weight do you want to lose?</span>
          </div>
          <div class="content weight-lose-week-container">
            <span class="title">How much weight do you want to lose a week?</span>
            <div class="radial-slider-holder"></div>
            <p class="bottom-text">You’ll reach your goal of 200lbs in 26 weeks.
Your daily caloric goal is 2000 calories.</p>
          </div>
          <div class="content meal-plan-container">
            <span class="title">Select our recommended meal plan for you.</span>
            <div class="button-contain">
              <div class="be-healthy-btn">
                <span class="title">Diabetic</span>
              </div>
              <div class="lose-weight-btn">
                <span class="title">Gluten Free</span>
              </div>
              <div class="lose-weight-btn">
                <span class="title">Heart Healthy</span>
              </div>
            </div>
          </div>
          <div class="content finish-container">
            <span class="title">Start tracking now!</span>
          </div>
        </div>
        <div class="btn-back">
          <div class="arrow-back"></div>
          <span class="btn-text">back</span>
        </div>
        <div class="btn-next">
          <span class="btn-text">next</span>
          <div class="arrow-next"></div>
        </div>
      </div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
