<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="widget-scroll">
    <div class="lightbox">
      <div class="lightbox-bg"></div>
      <div class="lightbox-content">
        <div class="top-nav">
          <div class="title-contain">
            <span class="widget-title">Food Journal</span><br>
            <span class="title">Prefrences</span>
          </div>
          <div class="close"></div>
        </div>
        <div class="content-window">
          <div class="content goal-container">
            <span class="title">What is your goal?</span>
            <div class="button-contain">
              <div class="be-healthy-btn">
                <span class="btn-title">Be Healthy</span>
              </div>
              <div class="lose-weight-btn">
                <span class="btn-title">Lose Weight</span>
              </div>
              <div class="gain-weight-btn">
                <span class="btn-title">Gain Weight</span>
              </div>
            </div>
          </div>
          <div class="content weight-measure-container">
            <span class="title">How do you want to measure your weight?</span>
            <div class="button-contain">
              <div class="pounds-btn">
                <span class="btn-title">Pounds</span>
              </div>
              <div class="kilograms-btn">
                <span class="btn-title">Kilograms</span>
              </div>
            </div>
          </div>
          <div class="content weight-lose-container">
            <span class="title">How much weight do you want to lose?</span>
            <div class="radial-slider-holder">
              <div class="top-row"><span class="weight-per-week-num">x</span><span class="unit-of-measure">lbs/kilo</span></div><br>
              <!--<span class="bottom-text">every week</span>-->
            </div>
            <p class="bottom-text">Current weight: <span class="current-weight-num">xx</span><span class="unit-of-measure">lbs/kilo</span></p><br>
            <p class="bottom-text">Weight goal: <span class="weight-goal-num">xx</span><span class="unit-of-measure">lbs/kilo</span></p>
          </div>
          <div class="content weight-lose-week-container">
            <span class="title">How much weight do you want to lose a week?</span>
            <div class="radial-slider-holder">
              <div class="top-row"><span class="weight-per-week-num">x</span><span class="unit-of-measure">lbs/kilo</span></div><br>
              <span class="bottom-text">every week</span>
            </div>
            <p class="bottom-text">You’ll reach your goal of <span class="weight-num">xx</span><span class="unit-of-measure">lbs/kilo</span> in 26 weeks.</p><br>
            <p class="bottom-text">Your daily caloric goal is <span class="calories-num">xxxx</span> calories.</p>
          </div>
          <div class="content meal-plan-container">
            <span class="title">Select our recommended meal plan for you.</span>
            <div class="button-contain">
              <div class="diabetic-meal-btn">
                <span class="btn-title">Diabetic</span>
              </div>
              <div class="gluten-meal-btn">
                <span class="btn-title">Gluten Free</span>
              </div>
              <div class="heart-healthy-meal-btn">
                <span class="btn-title">Heart Healthy</span>
              </div>
            </div>
          </div>
          <div class="content finish-container">
            <span class="title">Start tracking now!</span>
            <div class="finish-image"></div>
            <p class="bottom-text">You can always go back to the Food Journal</p><br>
            <p class="bottom-text">widget preferences to adjust your goal.</p>
          </div>
        </div>
        <div class="btn-back">
          <div class="arrow-back"></div>
          <span class="btn-text">back</span>
        </div>
        <div class="btn-next">
          <span class="btn-text">next</span>
          <div class="arrow-next"></div>
        </div>
      </div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
