<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="top-bar">
    <div class="user">
      <div class="picture"></div>
      <div class="content-left">
        <span class="patient">Patient</span>
        <span class="name">Robert Keller</span>
      </div>
    </div>
    <div class="content-right">
      <span class="widget-count">X widgets</span>
      <div class="widget-btn"><span>View Regimen Plan</span></div>
    </div>
  </div>
  <div class="widget-scroll">
    <div class="expand">
      <div class="background-black"></div>
      <div class="background-white"></div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
