<div class="widget food">
  <div class="widget-bg food-journal">
    <div class="icon"></div>
    <div class="content">
      <h1>Food Journal</h1>
      <p class="tags">
        Food Log, Calorie Counter, Personalized Plan
      </p>
      <p class="description">
        Personalize your diet plan and keep track of your food and caloric intake to develop better lifelong eating habits and lose weight.
      </p>
    </div>
    <div class="status">
      <div class="ball"></div>
      <p>
        Personalize your tracker
      </p>
    </div>
  </div>
</div>

<!--

<div class="widget bloodPressure" name="bloodPressure">
  <div class="widget-bg blood-pressure">
    <div class="icon"></div>
    <div class="content">
      <h1>Blood Pressure</h1>
      <p class="tags">Food Log, Calorie Counter, Personalized Plan</p>
      <p class="description">Personalize your diet plan and keep track of your food and caloric intake to develop better lifelong eating habits and lose weight.</p>
    </div>
    <div class="status">
      <div class="ball"></div>
      <p>Personalize your tracker</p>
    </div>
  </div>
</div>

-->
