<div class="widget-holder widget-view">
  <!--<div class="widget-bg clearfix">-->
  <div class="widget-scroll">
    <div class="lightbox">
      <div class="lightbox-bg"></div>
      <div class="lightbox-content">
        <div class="top-nav">
          <div class="title-contain">
            <span class="widget-title">Food Journal</span><br>
            <span class="title">Prefrences</span>
          </div>
          <div class="close"></div>
        </div>
        <div class="content-window">
          <div class="content-contain">
            <div class="content goal-container"></div>
            <div class="content weight-measure-container"></div>
            <div class="content weight-lose-container"></div>
            <div class="content weight-lose-week-container"></div>
            <div class="content meal-plan-container"></div>
            <div class="content finish-container"></div>
          </div>
        </div>
        <div class="bottom-nav"></div>
      </div>
    </div>
    <!-- widget goes here -->
  </div>
  <!--</div>-->
</div>
