<div class="widget">
  <div class="widget-bg" style="background-image: url( {{image}} ); cursor: pointer;">
    <div class="icon"></div>
    <div class="content">
      <h1>{{name}}</h1>
      <p class="tags">
        {{tags}}
      </p>
      <p class="description">
        {{description}}
      </p>
    </div>
    <div class="status">
      <div class="ball"></div>
      <p>
        Personalize your tracker
      </p>
    </div>
  </div>
</div>
